.homepage-tagline-lg {
  font-size: 54px;
  color: #666666;
  margin-bottom: 40px;
}
.homepage-email-form {
  margin-top: 20px;
  width: 100%;
}
.homepage-email-form > button {
  width: 100%;
}
.homepage-section-header {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 54px;
}
.how-it-works-section > i {
  font-size: 60px;
  color: #666666;
}
hr.homepage-section-hr {
  margin: 60px 0px 60px 0px;
}
.not-ready {
  padding-top: 10px;
}

.title-row {
  margin-bottom: 10px;
}
.lesson-container {
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  margin-bottom: 60px;
  border-radius: 6px;
  padding: 10px;
}
.lesson-title {
  font-size: 28px;
  font-weight: 300;
  color: #f59b2f;
  text-transform: capitalize;
  text-decoration: underline;
}
.lesson-title:hover,
.lesson-title:focus {
  color: #e88310;
}
.lesson-count {
  color: #aaaaaa;
}
.lesson-overview-text {
  font-size: 16px;
  color: #666666;
}
.read-more-link-container {
  padding-top: 10px;
}
.read-more-link {
  color: #666666;
  text-decoration: underline;
}
.read-more-link:hover,
.read-more-link:focus {
  color: #e88310;
}
.left-nav {
  padding-left: 20px;
}
.left-nav.ui-scrollfix {
  position: fixed;
  top: 20px;
}
.left-nav-header-title {
  margin-top: 20px;
  margin-bottom: 10px;
}
ul.nav-list {
  list-style-type: none;
  padding-left: 0px;
}
ul.nav-list > li > a {
  text-decoration: none;
  color: #666666;
}
ul.nav-list > li {
  padding-left: 7px;
  margin-bottom: 5px;
  font-size: 16px;
}
ul.nav-list > li:hover {
  color: #666666;
  border-left: 1px solid #272727;
  padding-left: 6px;
}
ul.nav-list > li.active {
  border-left: 2px solid #272727;
  padding-left: 5px;
}
ul.nav-list > li:hover > a,
ul.nav-list > li.active > a {
  color: #272727;
}

body,
html {
  background-color: #ffffff;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 'Open Sans', Helvetica, Arial, "Lucida Grande", sans-serif;
}
.navbar {
  background-color: #ffffff;
  border: none;
  color: #666666;
  padding-top: 20px;
  margin-bottom: 20px;
}
.navbar-bottom-border {
  height: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.navbar-link {
  font-size: 16px;
  padding-top: 35px;
}
.navbar-brand {
  font-size: 42px;
  height: 100%;
}
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 30px;
  }
}
@media (min-width: 767px) {
  .show-only-in-xs {
    display: none;
  }
}
.brand-orange {
  color: #f59b2f;
}
.btn-orange {
  background-color: #f59b2f;
  color: #f5f5f5;
  border-color: #f59b2f;
}
.btn-orange:hover,
.btn-orange:focus {
  background-color: #e88310;
  color: #f5f5f5;
  border-color: #e88310;
}
.main-body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}
.footer,
.push {
  height: 40px;
  margin: 0px;
}
.footer {
  padding-top: 30px;
  padding-bottom: 10px;
}
.footer-row > a {
  color: #272727;
}
.footer-row > a:hover,
.footer-row > a:focus {
  color: #666666;
}
.large-font {
  color: #666666;
  font-size: 20px;
}

