@import "variables";

.lesson-title{
  font-size: 60px;
  color: @black;
  text-transform: capitalize;
}

@media (max-width: @xs-width) {
  .lesson-title{
    font-size: 40px;
  }
}

.lesson-overview{
  font-size: 18px;
  color: @light-black;
  margin-top: 40px;
}

.resource-containter{
  border: 1px solid @dark-grey;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 20px 20px 20px;
}

.resource-title{
  margin-top: 0px;
  font-size: 28px;
  font-weight: 300;
  color: @orange;
  text-transform: capitalize;
  text-decoration: underline;
}

.resource-type-text {
  border: 1px solid @dark-grey;
  border-radius: 6px;
  padding: 3px 5px 3px 5px;
  margin: 5px 0px 5px 0px;
  background-color: @light-grey;
  color: @very-dark-grey;
  float: right;
}

@media (max-width: @xs-width) {
  .resource-type-text{
    float: left;
  }
}

.resource-title:hover,
.resource-title:focus {
  color: @dark-orange;
}

.resource-description {
  margin-top: 10px;
  font-size: 16px;
  color: @light-black;
}
