  <div class="row">
    <div class="col-md-8 col-md-offset-2 about">
      <h1 class="page-header">What is it?</h1>
        <p class="large-font">
          Spark Waves is an easy to follow and practical electronics course.
          The idea is to create a course that teaches the fundamentals of
          electronics - not just how to plug in an Arduino. Through this course,
          you will learn things like:
        </p>
        <ul class="large-font">
          <li>How a transistor works and when to use it</li>
          <li>The difference between a voltage divider and regualtor</li>
          <li>How to choose a resistor</li>
          <li>And much more</li>
        </ul>
        <p class="large-font" >At the same time as teaching these fundamentals,
          I am trying to pair each lesson with a hands-on project to emphasize the learnings.
          If you have feedback, thoughts, or
          questions, I would love to hear from you. You can reach me
          <a href="https://twitter.com/Rick_Marron">@Rick_Marron</a>.
        </p>

      <h1 class="page-header">Who is doing it?</h1>

      <img src="http://www.gravatar.com/avatar/d6125cd1d69bf13c7dadb3036690265a.jpg?s=100" class="img-thumbnail img-responsive pull-right about-me-image"></img>

      <div class="large-font">We have a team of 40 engineers worki... Just
        kidding. It is just me. My name is Rick Marron, and I am a software
        engineer who studied electrical engineering. I am currently based out of Nairobi, Kenya.
        Formerly with Microsoft and now on my own. If you are interested in
        helping out with the project, drop me a line on <a href="https://twitter.com/Rick_Marron">
        Twitter</a>.
      </div>
    </div>
  </div>
