<div ng-init="getLessons()">
  <div class="row">
    <div class="col-sm-8">
      <div class="lesson-list-container" id="lesson-list-{{lesson.id}}" ng-repeat="lesson in lessonListModel.lessons">
        <div class="title-row">
          <span>
            <a class="lesson-list-title" href="lessons/{{lesson.id}}">{{ lesson.title }}</a>
          </span>
          <span class="hide-in-xs pull-right text-muted lesson-list-count">
            Lesson {{$index + 1}}
          </span>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-push-7">
            <a href="lessons/{{lesson.id}}">
              <img class="img-responsive img-rounded" ng-src="{{lesson.image}}"/>
            </a>
          </div>
          <div class="col-md-7 col-md-pull-5 lesson-list-overview-text">
            {{ lesson.overview|truncate:300 }}
            <div class="read-more-link-container">
              <a class="read-more-link" href="lessons/{{lesson.id}}">
              Read more
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="lesson-list-container text-center">
        <h2 class="">Want to help make more lessons?</h2>
        <div class="lesson-list-overview-text">
          All of our content is open source and community made. If you want to help or have suggestions, you can contribute on <a href="https://github.com/SparkWaves/SparkWaves-Content">Github.</a>
        </div>
        <div class="social-icons text-center">
          <a href="https://github.com/SparkWaves/SparkWaves-Content" class="github-icon">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="hide-in-xs col-sm-4">

      <div ui-scrollfix="93" class="left-nav">
        <div class="left-nav-header">
          <h4 class="page-header left-nav-header-title">Lessons</h4>
        </div>
        <ul class="nav-list">
          <li href="#lesson-list-{{lesson.id}}" offset="30" du-smooth-scroll du-scrollspy id="{{lesson.id}}" ng-repeat="lesson in lessonListModel.lessons">
            <a>
              {{ lesson.title }}
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
