<div class="text-center">
  <h1>We are still working on the lessons.</h1>
  <img class="img-responsive img-rounded center-block working-gif" src="http://media.giphy.com/media/Uv0VUrAT6FtMQ/giphy.gif"></img>
  <h3>Sign up and we will let you know when they are live!</h3>
</div>
<div class="col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3 text-center">
  <form class="homepage-email-form">
    <div class="form-group">
      <input type="email" class="form-control input-lg" placeholder="Email address">
    </div>
    <button type="submit" class="btn btn-default btn-lg btn-orange">Sign up <i class="fa fa-bolt"></i></button>

  </form>
</div>
