<div>
  <div class="text-center">
    <h1 class="homepage-tagline-lg">An <strong class="brand-orange">easy to follow</strong> and <strong class="brand-orange">practical</strong> electronics course.</h1>
  </div>
  <div class="row text-center">
    <h3>Receive a lesson in your inbox each week.</h3>
    <signup-form></signup-form>
    <p class="text-muted not-ready">We are not ready yet, but sign up, and we will let you know when it is live!</p>
  </div>

  <hr class="homepage-section-hr"/>

  <div class="row">
    <div class="col-sm-4 how-it-works-section text-center">
      <i class="fa fa-pencil"></i>
      <h3>Curated Content</h3>
      <p>We create and find the best content from around the web and present it to you in an easy to follow course.</p>
    </div>
    <hr class="homepage-section-hr show-only-in-xs"/>

    <div class="col-sm-4 how-it-works-section text-center">
      <i class="fa fa-wrench"></i>
      <h3>Awesome Projects</h3>
      <p>Once you learn a new topic, we will have a couple awesome projects for you to try it out on. We believe nothing beats hands on learning.</p>
    </div>
    <hr class="homepage-section-hr show-only-in-xs"/>

    <div class="col-sm-4 how-it-works-section text-center">
      <i class="fa fa-rocket"></i>
      <h3>Real Knowledge</h3>
      <p>You are going to learn why things work - not just how things work. This is the real knowledge that will let you make amazing things.</p>
    </div>
  </div>
</div>
