<div>
  <div class="text-center">
    <h1 class="homepage-tagline-lg">An <strong class="brand-orange">easy to follow</strong> and <strong class="brand-orange">practical</strong> electronics course.</h1>
  </div>
  <div class="row text-center">
    <h3>Receive a lesson in your inbox each week.</h3>
    <signup-form></signup-form>
    <p class="text-muted not-ready">We are not ready yet, but sign up, and we will let you know when it is live!</p>
  </div>

  <hr class="homepage-section-hr"/>

  <div class="row">
    <div class="col-sm-4 how-it-works-section text-center">
      <i class="fa fa-pencil"></i>
      <h3>The Best Content</h3>
      <p>Our <a href="https://github.com/SparkWaves/SparkWaves-Content">community</a> finds the best content from around the web and presents it to you in an easy to follow course.</p>
    </div>
    <hr class="homepage-section-hr show-only-in-xs"/>

    <div class="col-sm-4 how-it-works-section text-center">
      <i class="fa fa-wrench"></i>
      <h3>Awesome Projects</h3>
      <p>Once you learn a new topic, we will have a few awesome projects for you to try it out on. We believe nothing beats hands on learning.</p>
    </div>
    <hr class="homepage-section-hr show-only-in-xs"/>

    <div class="col-sm-4 how-it-works-section text-center">
      <i class="fa fa-rocket"></i>
      <h3>Real Electronics</h3>
      <p>You are going to learn why things work - not just how things work. This is the real knowledge that will let you make amazing things.</p>
    </div>
  </div>

  <hr class="homepage-section-hr"/>

  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="text-center homepage-section-header">Learn to make amazing things!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 homepage-section-body">
      <p>SparkWaves teaches you how to <strong class="brand-orange">make original and amazing things.</strong> Examples of things you will learn in this course are:</p>
      <ul>
        <li>When to use a capacitor and how to choose one</li>
        <li>What are the differences between transistors and when should you use each type</li>
        <li>What is the difference between a voltage divider and regualtor</li>
        <li>Much much more</li>
      </ul>
      <p>This is <strong class="brand-orange">not another guide on plugging an arduino together.</strong></p>
    </div>
  </div>

  <hr class="homepage-section-hr"/>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="text-center homepage-section-header">Get involved</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 homepage-section-body">
      SparkWaves is an <strong class="brand-orange">open source project.</strong> All of the content is community driven and
      created on Github.
      We are always <strong class="brand-orange">looking for contributions.</strong> If you want to help, you can reach us on Twitter or Github.
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-3 col-md-offset-3 social-icons text-center">
          <a href="https://github.com/SparkWaves" class="github-icon">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="col-md-3 social-icons text-center">
          <a href="https://twitter.com/SparkWaves_Com" class="twitter-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
