<div class="text-center">
  <h1>Thanks for signing up!</h1>
  <img class="img-responsive img-rounded center-block working-gif" src="http://i.imgur.com/RiLlj.gif"></img>

  <h3>The <a href="/lessons">lessons</a> are still being made...</h3>
  <h3>We will email you as soon as they are ready for you!</h3>
  <h5>-The SparkWaves Team</h5>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="help-container text-center">
        <h2 class="">Want to help make lessons?</h2>
        <div class="lesson-list-overview-text">
          All of our content is open source and community made. If you want to help or have suggestions, you can contribute on <a href="https://github.com/SparkWaves/SparkWaves-Content">Github.</a>
        </div>
        <div class="social-icons text-center">
          <a href="https://github.com/SparkWaves/SparkWaves-Content" class="github-icon">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
