<div ng-init="getLesson()">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="lesson-title">{{ lessonModel.lesson.title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div marked="lessonModel.lesson.overview" class="lesson-overview"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div ng-repeat="resource in lessonModel.lesson.resources|orderBy:'order'">
        <div class="resource-containter">
          <div class="resource-title-row row">
            <div class="col-sm-10">
              <span>
                <a class="resource-title" target="_blank" href="{{ resource.url }}">{{ resource.title }}</a>
              </span>
            </div>
            <div class="col-sm-2">
              <span class="resource-type-text text-muted">
                {{ resource.resourceType}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 resource-description">
              {{ resource.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="lessonModel.lesson.projects" class="row">
    <div class="col-md-8">
      <h4 class="page-header">Projects</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div ng-repeat="project in lessonModel.lesson.projects|orderBy:'order'">
        <div class="resource-containter">
          <div class="resource-title-row">
            <span>
              <a class="resource-title" target="_blank" href="{{ project.url }}">{{ project.title }}</a>
            </span>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-push-7">
              <a href="{{ project.url }}" target="_blank">
                <img class="img-responsive img-rounded" ng-src="{{project.image}}"/>
              </a>
            </div>
            <div class="col-sm-7 col-sm-pull-5 resource-description">
              {{ project.description }}
            </div>

          </div>
        </div>
      </div>
      <div class="resource-containter text-center">
        <h2>Have ideas to make this lesson better?</h2>
        <div class="lesson-list-overview-text">
          All of our content is open source and community made. If you want to help or have suggestions, you can contribute on <a href="https://github.com/SparkWaves/SparkWaves-Content">Github.</a>
        </div>
        <div class="social-icons text-center">
          <a href="https://github.com/SparkWaves/SparkWaves-Content" class="github-icon">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
